 .item1 {

    grid-area: header; 
    background-color: teal;
    font-size: 150%;
    }

.item2 { 
    grid-area: hero;
    background-color: tomato;

}
.item3 {
    grid-area: main;
    background-color: violet;

}
.item4 { 
    grid-area: sidebar;
    background-color: yellow;

}
.item5 {
     grid-area: extra;
     background-color: blue;

    }
.item6 { 
    grid-area: images;
    background-color: brown;

}
.item7 { 
    grid-area: posts;
    background-color: cadetblue;

}
.item8 { 
    grid-area: footer;
    background-color: chartreuse;

}

.grid-container > div {

    padding: 10px;}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(6,1fr);;
    grid-template-areas: 
    "header header header"
    "hero main main"
    "sidebar main main"
    "sidebar extra extra"
    "images images posts"
    "footer footer footer"
}
