<!-- Your name
# A picture
# Your hobbies
# Your skills
# Your strengths
# Your weaknesses -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anna Konig</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <h1>Anna Konig CV</h1>

    <img src="http://www.gstatic.com/tv/thumb/persons/389416/389416_v9_bc.jpg" alt="Jennifer Lawrence" width="150px" height="200px">


    <h2>My hobbies:</h2>
    <ul>
        <li>Surfing</li>
        <li>Coding</li>
        <li>Running</li>
        <li>Travelling</li>
    </ul>

    <h2>My skills:</h2>
    <ul>
        <li>Content planning</li>
        <li>SEO strategy</li>
        <li>Linkbuilding</li>
        <li>Google Analytics</li>
    </ul>


    <h2>strengths and weaknesses</h2>

    <div class="row">
        <div class="colmn">
            <ul>
                <li>Content planning</li>
                <li>SEO strategy</li>
                <li>Linkbuilding</li>
                <li>Google Analytics</li>
            </ul>
        </div>
        <div class="column">
            <ul>
                <li>Content planning</li>
                <li>SEO strategy</li>
                <li>Linkbuilding</li>
                <li>Google Analytics</li>
            </ul>
        </div>
    </div>

</body>

</html>