.topnav {
    background-color: pink;
    background-image: linear-gradient(to right, pink, yellow);
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #0c0b0b;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: palevioletred;
    color: blue;
  }
  
  .topnav a.active {
    background-color: rgb(250, 170, 174)
    color: black;
  }
  .topnav-right {
    float: right;
  }      
