
.navbar {
    background-color:rgb(34, 34, 34)!important;
    
}

.navbar-brand {
    color:grey !important;

}

.nav-link {
    color:grey !important;
}

.login {
    margin: 10px !important;
}

.formbutton {

    border: 1px solid black; 
    background-color: green;
    margin: 10px;
}

.column {
    margin-left:50px;
    display: flex;
    justify-content: center;
}

.viewbutton {
    border: 1px solid black;
}